.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-gray-light-2);
    box-shadow: 0 2rem 6rem rgba(rgb(217, 238, 24), 0.3);
    min-height: 50rem;
}
.header {
}
.content {
}
.sidebar {
}
.hotel-view {
}
