.container {
    max-width: 110rem;
    margin: 8rem auto;
    background-color: var(--color-gray-light-2);
    box-shadow: 0 2rem 6rem rgba(black, 0.3);
    min-height: 50rem;
}
.content {
    display: flex;
}

.hotel-view {
    background-color: aqua;
    flex: 1;
}
