.hotelview {
    flex: 1;
    height: 80rem;
}
.detail {
    display: flex;
}
.description {
    flex: 0 0 60%;
    background-color: orangered;
    margin-right: 5rem;
}
.review {
    flex: 1;
    background-color: aqua;
}
