.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    &__text {
    }
    &__user {
        margin-top: 2rem;
        display: flex;
        align-items: center;
    }
    &__user-box {
        padding: 2rem;
    }
    &__user-name {
    }
    &__user-date {
    }
    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
    }
    &__rating {
        margin-left: auto;
        font-size: 2rem;
        color: var(--color-primary);
        font-weight: 300;
    }
}
