.review {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-bottom: 3.5rem;
    &__text {
    }
    &__user {
        display: flex;
        align-items: center;
    }
    &__user-box {
    }
    &__user-name {
    }
    &__user-date {
    }
    &__photo {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
    }
    &__rating {
        margin-left: auto;
    }
}
