.sidebar {
    background-color: var(--color-gray-dark-1);
    flex: 0 0 18%;
}
.side-nav {
    &__item {
    }
    &__link {
    }
    &__icon {
        width: 1.75rem;
        height: 1.75rem;
    }
    &__text {
    }
}
.legal {
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--color-gray-light-4);
}
